.advantage__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.advantage__item {
  flex-basis: 290px;
  min-height: 61px;
  padding: 10px 10px 10px 81px;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 61px;
}

.advantage__item--stack {
  background-image: url("../img/whyme/stack.svg");
}

.advantage__item--mockup {
  background-image: url("../img/whyme/mockup.svg");
}
.advantage__item--inclusive {
  background-image: url("../img/whyme/inclusive.svg");
}
.advantage__item--responsive {
  background-image: url("../img/whyme/responsive.svg");
}
.advantage__item--valid {
  background-image: url("../img/whyme/valid.svg");
}
.advantage__item--copyright {
  background-image: url("../img/whyme/copyright.svg");
}

@media (min-width: 480px) {
  .advantage__title {
    font-size: 40px;
  }

  .advantage__list {
    gap: 40px;
  }

  .advantage__item {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .advantage__title {
    margin-bottom: 50px;
  }

  .advantage__list {
    justify-content: space-between;
    gap: 80px;
  }
}

@media (min-width: 1440px) {
  .advantage__title {
    font-size: 50px;
    margin-bottom: 80px;
  }

  .advantage__list {
    gap: 100px;
  }

  .advantage__item {
    font-size: 18px;
  }
}
