html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;

  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #110303;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}
