.present__photo {
  width: 100%;
  margin-bottom: 20px;
  object-fit: cover;
}

.present__group-title {
  margin-bottom: 18px;
}

.present__title {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 34px;
  line-height: 48px;
  text-transform: uppercase;
}

.present__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.present__description {
  margin-bottom: 19px;
  line-height: 20px;
}

.present__order-btn {
  padding: 16px 60px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #e87c40;
  border-radius: 4px;
}
